
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.to-do-individual {
    border: 2px black solid;
    padding: 1em;
    border-radius: 20px;
    margin-bottom: 1em;
}
.delete-button {
    border: black solid 1px;
    border-radius: 5px;
    padding: 0.3em;
    cursor: pointer;
}
.add-to-do-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    label {
        margin-bottom: 0.5em;
    }
    .title-input {
        width: 60vw;
        height: 1.2em;
        margin-bottom: 1em;
    }
    .descr-input {
        width: 60vw;
        min-height: 3em;
        margin-bottom: 1em;
    }
    .date-input {
        min-width: 20vw;
        margin-bottom: 1em;
    }
    .priority-input {
        width: 40vw;
    }
    .notes-input {
        width: 60vw;
        min-height: 3em;
        margin-bottom: 1em;
    }
    .submit-button {
        padding: 1em;
        margin-bottom: 1em;
    }
    
}